@(first_name: String, last_name: String, occupation: String, bio: String, phone: String, email: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Play Setup Demo</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
@*        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/main.css")'/>*@
    </head>

    <body>

        <nav class="navbar">
            <div class="container">
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>My Profile</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 id="first_name">@first_name</h4>
                </div>
                <div class="col">
                    <h4 id="last_name">@last_name</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 id="occupation">
                        @occupation
                    </h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p id="bio">
                        @bio
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5><u>Contact Info</u></h5>
                    <p>@phone</p>
                    <p>@email</p>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <h5><u>@first_name's Publications</u></h5>
                    <table id="research_history">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Media Type</th>
                                <th>Date</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                    </table>


                    <button id="addResearchButton" type="button" class="btn" onclick=testAddResearch()>Test add</button>
                    <button id="modal-btn" type="button" class="btn"> Add Publication</button>
                    <div class="modal">
                        <div class="modal-content" style="">
                            <span class="close-btn">&times;</span>
                            <p>Enter the new publication's information:</p>
                            <form action="@routes.HomeController.addPublicationHandler()" method="GET" id="addNewResearchForm" >
                                <div class="container">
                                    <label for="title">Title</label>
                                    <input type="text" id="title" name="title" placeholder="Enter title..."/>
                                    <label for="media_type">Media Type</label>
                                    <input type="text" id="media_type" name="media_type" placeholder="Enter the type of media (article, video, etc.)"/>
                                    <label for="date">Date Published</label>
                                    <input type="date" id="date" name="date" placeholder="Date published..."/>
                                    <label for="link">Link to content</label>
                                    <input type="text" id="link" name="link" placeholder="Link to content..."/>
                                    <input type="submit" value="Submit" id="submit-form-btn" class="btn" onclick="addPublicationFrontend()">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script>
            function addPublicationFrontend() {
                let table = document.getElementById("research_history");
                let row = table.insertRow();
                let title = row.insertCell(0);
                let media_type = row.insertCell(1);
                let date = row.insertCell(2);
                let link = row.insertCell(3);
                title.innerHTML = document.getElementById('title').value;
                media_type.innerHTML = document.getElementById('media_type').value;
                date.innerHTML = document.getElementById('date').value;
                link.innerHTML = "<a href=document.getElementById('link').value>Link</a>"
            }
        </script>

        <script>
            function testAddResearch() {
                let table = document.getElementById("research_history");
                let row = table.insertRow();
                let title = row.insertCell(0);
                let media_type = row.insertCell(1);
                let date = row.insertCell(2);
                let link = row.insertCell(3);
                title.innerHTML = "Test Title";
                media_type.innerHTML = "Article";
                date.innerHTML = "01-01-2020";
                link.innerHTML = "<a href=google.com>Link</a>"
            }
        </script>



        @*Modal display script*@
        <script>
                let modalBtn = document.getElementById("modal-btn")
                let modal = document.querySelector(".modal")
                let closeBtn = document.querySelector(".close-btn")
                modalBtn.onclick = function(){
                    modal.style.display = "block"
                }
                closeBtn.onclick = function(){
                    modal.style.display = "none"
                }
                // window.onclick = function(e){
                //     if(e.target == modal){
                //         modal.style.display = "none"
                //     }
                // }
        </script>



    </body>
</html>